@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #000;
}
img {
  width: 100%;
  display: block;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}



//Variables:
$main-color-1: #3cb878;
$text-color-1: #333333;
$text-color-2: #464646;

//Mixins:
@mixin flexbox {
  display: flex;
  align-items: center;
}
